* {
    box-sizing: border-box;
}

body {
    background-color: #f2fcfc;
    font-family: sans-serif
}

body,
html {
    /* Sets default font-size to 16px, ensuring 1em = 16px; */
    font-family: sans-serif font-size: 16px;
}

/* responsive images */
img {
    width: 100%;
}

h1 {
    font-family: 'EB Garamond', serif;
}

h2 {
    font-family: 'Crimson Text', serif;
    font-size: 1.5 em;
}

h4 {
    font-family: sans-serif;
    font-size: .75em;
    text-align: left;
}

h3 {
    font-family: 'Bowlby One', cursive;
    text-align: center;
}

figcaption {
    line-height: 1.1em;
    font-size: .8em;
    color: gray
}

hr {
    height: 4px;
    background: gray;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.icon-container 2 {
    width: 50% max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

.main_img {
    width: 100%;
}

.head-photo {
    font-size: 1em;
    color: #f53307;
    margin: 5px;
}

.icon-container img {
    display: block;
    max-width: 300px;
    margin: auto;
}

.graphic-text {
    margin: auto;
    color: Black;
}

/*********************************************************************
  YOUR TABLET/DESKTOP STYLES GO HERE
*********************************************************************/
@media(min-width: 681px) {

    /* Any adjustments for tablets and larger go here.
    Note these styles will be applied to anything 681px or larger -- so tablet AND desktop */
    p.intro {
        max-width: 65%,
    }

    .icon-container {
        /* Flex box styles go on the flex box element */
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .graphic {
        /* There are many ways to handle sizing, but flex-basis is the one that I like best for control.
     * There are three elements so I made it 30%. With justify content set to space between, the extra 3% per element will go to negative space
     * serving as gutters */
        flex-basis: 30%;
        /* font-size: 1.3em; */
    }

    .graphic-text {
        padding: 10px;
        /* width: 500px; */
    }
}

/*********************************************************************
  YOUR DESKTOP-ONLY STYLES GO HERE
*********************************************************************/
@media(min-width: 900px) {

    /* Any adjustments for desktop and larger go here.
    Note these styles will be applied to anything 729px or larger -- so desktop */
    .container {
        max-width: 600px;
    }
}
